<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mind Games</title>
  <link rel='stylesheet' href='stylesheets/styles.css'></link>
  <script src='javascripts/scripts.js'></script>
</head>
<body>
  <div id='navbar'>
    <ul class="games">
      <li id="stacks"><a href="/stacks">Stacks</a></li>
      <li>another game</li>
      <li>another game</li>
      <li>another game</li>
    </ul>
  </div>
  <%= yield %>
</body>
</html>