body {
  margin: 0;
}

#navbar {
  width: 100%;
  height: 15vh;
  background-color: #49A2DE;
  margin: 0;
  position: fixed;
}

#navbar div {
  box-sizing: border-box;
}

.games {
  padding: 0;
  margin: 0;
  list-style: none;
}

.games li {
  margin: 0;
  box-sizing: border-box;
  border-right: dashed black 2px;
  border-left: dashed black 2px;
  float: left;
  display: inline;
  background-color: yellow;
  width: 20%;
  text-align: center;
  line-height: 100px;
}

.games li:hover {
  border-right: solid white 2px;
  border-left: solid white 2px;
  background-color: green;
  color: orange;
}