<div id="stacks-board">
  <ul class="stack-row">
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
  </ul>
  <ul class="stack-row">
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
  </ul>
  <ul class="stack-row">
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
  </ul>
  <ul class="stack-row">
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
  </ul>
  <ul class="stack-row">
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
    <li class="stack-slot"></li>
  </ul>
</div>